<div id="main-content" class="container">
  <div class="jumbotron">
    <img src="images/mytasks3_768.png" alt="Picture of <i>myTasks</i>" class="img-responsive center-block">
    <div class="text-center">You can create your tasks here. Click on any of the options below to build your task lists</div>
  </div>
  <div id="home-tiles" class="row">
    <div class="col-md-4 col-sm-6 col-xs-12">
      <a ui-sref="notes"><div id="note-tile"><span>Notes</span></div></a>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-12">
      <a ui-sref="todo"><div id="todo-tile"><span>Todo</span></div>
      </a>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
      <a ui-sref="shoppinglist"><div id="shopping-tile"><span>Shopping List</span></div>
      </a>
    </div>
  </div>
</div>
