<div class="container">
  <h2> Shopping List</h2>
  <div class="row" id="listadd">
    <input type="text" ng-model="list.itemName" placeholder="item name">
    <input type="text" ng-model="list.itemQuantity" placeholder="quantity">
    <button ng-click="list.addItem();">Add Item</button>
  </div>
  <div class="row" id="listitems">
    <div class="col-md-6">
      <h4>To Buy:</h4>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="item in list.items">
          {{$index + 1}}. {{ item.name }} ({{ item.quantity }})
          <button class="pull-right" ng-click="list.moveItem($index)">
           <span class="glyphicon glyphicon-ok"></span> Bought
          </button>
          <button class="pull-right" ng-click="list.removeItem($index);">X</button>
        </li>
      </ul>
      <!--<div ng-if="(!list.items.length && list.itemAdded)" class="emptyMessage">
        Everything is bought!
      </div> -->
    </div>
    <div class="col-md-6">
      <h4>Bought:</h4>
      <ul class="list-group">
        <li class="list-group-item" ng-repeat="item in list.boughtitems">
          {{$index + 1}}. {{ item.name }} ({{ item.quantity }})
        </li>
      </ul>
      <div ng-show="list.boughtitems.length">
        <p><button ng-click="list.clearList()">Clear List</button></p>
      </div>
      <!--<div ng-if="!list.boughtitems.length" class="emptyMessage">
        Nothing bought yet.
      </div>-->
    </div>
  </div>
</div>
